img{
  float: left;
  max-width: 30%;
  max-height: 100%;
  margin-right: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.objective {
  font-size: 18px;
  font-weight: bold;
  color: #00cc00;
  text-align: justify;
}

.panel-info-custom {
  background: #e6f7ff;
  border-color: #33ccff;
  }
.panel-info-custom > .panel-heading {
  background: #cceeff;
  color: #00aaff;
}

.panel-projects {
  background:#d9ffcc;
  border-color: #2db300;
}
.panel-projects > .panel-heading {
  background: #b3ff99;
  color: #33cc00;
}

.panel-skills {
  background:#ffff80;
  border-color: #999900;
}
.panel-skills > .panel-heading {
  background: #ffff00;
  color: #b3b300;
}

.well {
  background: #cceeff;
  border-color: #33ccff;
  text-align: center;
}
